<h2>Show for plan</h2>
<div class="imageSlot">
  <div class="">
    <%= button_to "Attempt", plan_projects_path(plan_id:@plan.id) , remote: true%>
  </div>
  <div class="planphoto">
    <button type="button" class="btn btn-primary addphoto" data-toggle="modal" data-target="#addphoto">
      Add Photo
    </button>
    <% if @plan.photos.length > 0 %>
    <div class="">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <% if @plan.photos.length > 1 %>
          <% @plan.photos.length.times do |no_of_time| %>
          <li data-target="#carouselExampleIndicators" data-slide-to="<%= no_of_time+1 %>"></li>
          <% end %>
          <% end  %>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-40 img-thumbnail" src="<%=  @plan.photos.first.url %>" alt="photo">
          </div>
          <% @plan.photos.each do |photo| %>
          <div class="carousel-item">
            <img class="d-block w-40 img-thumbnail" src="<%= photo.url %>" alt="photo">
          </div>
          <% end  %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <%　else %>
    <div class="">
      <h4>no Photos</h4>
    </div>

    <% end  %>
  </div>
</div>

<div class="planinfo">
  <h4>Title: <%= @plan.title %></h4>
  <h4>category: <%= @plan.category%></h4>
  <h4>No of steps: <%= @plan.no_of_steps %></h4>
  <h4>Notes: <%= @plan.notes %></h4>

</div>

<div class="planProject">
  <% if @plan.projects %>
    <% @plan.projects do |project| %>
    <h4><%= project.title %></h4>
    <% end %>

  <% end  %>
</div>
<div class="planMaterials">
  <% if @plan.materials %>
    <% @plan.materials do |material| %>
    <h4><%= material.title %></h4>
    <% end %>

  <% end  %>
</div>



<!-- Modal -->

<div class="modal fade" id="addphoto" tabindex="-1" role="dialog" aria-labelledby="addphoto" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Photo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= render partial: "photos/form", locals: {photographic:@plan} %>

      </div>
    </div>
  </div>
</div>
